flows (1).json
[
    {
        "id": "e79d17282a2ffeee",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "77b54f2af0f732b1",
        "type": "mqtt in",
        "z": "e79d17282a2ffeee",
        "name": "",
        "topic": "topico2/analogico1/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4f3268f66990f74e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 480,
        "wires": [
            [
                "a2bf079d6330936e",
                "7803b2daf35fbd07",
                "6a2614c56fbc4447"
            ]
        ]
    },
    {
        "id": "a2bf079d6330936e",
        "type": "debug",
        "z": "e79d17282a2ffeee",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 540,
        "wires": []
    },
    {
        "id": "f78bb725e85a3c4c",
        "type": "mqtt out",
        "z": "e79d17282a2ffeee",
        "name": "",
        "topic": "topico2/rel0/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4f3268f66990f74e",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "70ba30511923dccd",
        "type": "ui_button",
        "z": "e79d17282a2ffeee",
        "name": "",
        "group": "eb096a2590b2774d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Liga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "f78bb725e85a3c4c",
                "28d2d29ebbf7c5dd",
                "5ebdd9bbd69b2d69"
            ]
        ]
    },
    {
        "id": "7d9ddd6c3eb5a28c",
        "type": "ui_button",
        "z": "e79d17282a2ffeee",
        "name": "",
        "group": "eb096a2590b2774d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desliga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "f78bb725e85a3c4c",
                "28d2d29ebbf7c5dd",
                "5ebdd9bbd69b2d69"
            ]
        ]
    },
    {
        "id": "28d2d29ebbf7c5dd",
        "type": "ui_text",
        "z": "e79d17282a2ffeee",
        "group": "eb096a2590b2774d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "7803b2daf35fbd07",
        "type": "ui_gauge",
        "z": "e79d17282a2ffeee",
        "name": "",
        "group": "ecb6863b72c560b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "6760d4cf5ba1234f",
        "type": "mqtt out",
        "z": "e79d17282a2ffeee",
        "name": "",
        "topic": "topico2/rel1/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4f3268f66990f74e",
        "x": 1070,
        "y": 380,
        "wires": []
    },
    {
        "id": "c0988504b103c002",
        "type": "ui_button",
        "z": "e79d17282a2ffeee",
        "name": "",
        "group": "694a0b4361e44dc1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Liga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 300,
        "wires": [
            [
                "6760d4cf5ba1234f",
                "a4e232e45a07f5f7",
                "0c76d894281632b6"
            ]
        ]
    },
    {
        "id": "950aeb2eaa0dbaf7",
        "type": "ui_button",
        "z": "e79d17282a2ffeee",
        "name": "",
        "group": "694a0b4361e44dc1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desliga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 800,
        "y": 380,
        "wires": [
            [
                "6760d4cf5ba1234f",
                "a4e232e45a07f5f7",
                "0c76d894281632b6"
            ]
        ]
    },
    {
        "id": "a4e232e45a07f5f7",
        "type": "ui_text",
        "z": "e79d17282a2ffeee",
        "group": "694a0b4361e44dc1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 300,
        "wires": []
    },
    {
        "id": "7cb18330fe2c278b",
        "type": "aedes broker",
        "z": "e79d17282a2ffeee",
        "name": "",
        "mqtt_port": "1885",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 210,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5ebdd9bbd69b2d69",
        "type": "function",
        "z": "e79d17282a2ffeee",
        "name": "function 11",
        "func": "var trab = global.get(\"statusRel0\");\n\nvar date = new Date();\nvar hour = date.getHours();\nvar result =\"\";\nvar compara = msg.payload.toString();\n\n\n\nhour = hour - 0;\ndate.setHours(hour);\n\nmsg.payload = date.toISOString() + \";\" + trab + \"\\n\" + date.toISOString() + \";\" + compara;\n\nglobal.set(\"statusRel0\", compara);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 140,
        "wires": [
            [
                "9125830ad1a14e04"
            ]
        ]
    },
    {
        "id": "9125830ad1a14e04",
        "type": "file",
        "z": "e79d17282a2ffeee",
        "name": "",
        "filename": "C:\\Users\\cznaz\\OneDrive\\Empresa\\BI\\subir\\rele0.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1280,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "0c76d894281632b6",
        "type": "function",
        "z": "e79d17282a2ffeee",
        "name": "function 12",
        "func": "var trab = global.get(\"statusRel1\");\n\nvar date = new Date();\nvar hour = date.getHours();\nvar result =\"\";\nvar compara = msg.payload.toString();\n\n\n\nhour = hour - 0;\ndate.setHours(hour);\n\nmsg.payload = date.toISOString() + \";\" + trab + \"\\n\" + date.toISOString() + \";\" + compara;\n\nglobal.set(\"statusRel1\", compara);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 340,
        "wires": [
            [
                "a2f9243516f67fee"
            ]
        ]
    },
    {
        "id": "a2f9243516f67fee",
        "type": "file",
        "z": "e79d17282a2ffeee",
        "name": "",
        "filename": "C:\\Users\\cznaz\\OneDrive\\Empresa\\BI\\subir\\rele1.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1630,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "6a2614c56fbc4447",
        "type": "function",
        "z": "e79d17282a2ffeee",
        "name": "function 13",
        "func": "var date = new Date();\nvar hour = date.getHours();\nhour = hour -0;\ndate.setHours(hour);\n\nmsg.payload= date.toISOString() + \";\" + msg.payload.toString()\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 620,
        "wires": [
            [
                "4a742841e31fbf90"
            ]
        ]
    },
    {
        "id": "4a742841e31fbf90",
        "type": "file",
        "z": "e79d17282a2ffeee",
        "name": "",
        "filename": "C:\\Users\\cznaz\\OneDrive\\Empresa\\BI\\subir\\corrente.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1350,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "4f3268f66990f74e",
        "type": "mqtt-broker",
        "name": "segundo",
        "broker": "localhost",
        "port": "1885",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eb096a2590b2774d",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "27b3631a5914e367",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "ecb6863b72c560b0",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "27b3631a5914e367",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "694a0b4361e44dc1",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "27b3631a5914e367",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "27b3631a5914e367",
        "type": "ui_tab",
        "name": "Projeto Baixar",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]